#japp, body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.aContainer {
    background: url(img/bgTopLeft-optw.jpg) no-repeat left top,
                url(img/bgBottomLeft-optw.jpg) no-repeat left bottom,
                url(img/bgBottomRight-optw.jpg) no-repeat right bottom;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 1rem 0 3rem;
    overflow-y: auto;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-family: OpenSans-Regular,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    overflow-x: hidden;
}
html{
    display:block;
}
head{
    display:none;
}
element.style {
    color: #6c6c6c;
}
.text-center {
    text-align: center;
}

.aLogoImg {
    max-width: 230px;
    width: 100%;
    height: auto;
}
.aLogo {
    text-align: center;
    padding-top: 20px;
}
.aLine1 {
    border: none;
    border-bottom: #dedede dashed 1px;
    margin: 1rem 0.1rem;
    padding: 0;
    width: 100%;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
::-webkit-scrollbar {
    display: none;
}